button {
    margin-right: 3rem;
}

div {
    margin: 3rem;
}

mat-grid-tile {
    background-color: lightblue;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid salmon;
    box-sizing: border-box;
    height: 100px;
}

.container {
    height: 900px;
}